[2018-05-29 17:01] PedroCardoso opened #40 "Tensorflow 1.7 docker image"
Any reason why the Tensorflow 1.7 branch is not merged ?
It would be very useful to use Tensorflow HUB

[2018-05-29 18:47] winstonaws commented on #40
Thanks for the interest - we're actively working on decreasing the time from framework version release to inclusion in our containers.  We haven't merged it yet to ensure we have sufficient time to appropriately test, but you're free to use this branch to experiment.

Also, even after 1.7 is released, you'll need to pip install tensorflow-hub yourself to use that functionality.

[2018-05-31 02:33] giggle0312 opened #42 "When I want to download the docker image from ec2 container repository, login validation fails"
1. The docker image named "382416733822.dkr.ecr.us-east-1.amazonaws.com/linear-learner:latest" was produced after traning linear-learner model.
2. We have applied a EC2 instance and deployed a docker node.
3. Excute the login validation commend: `aws ecr get-login --registry-ids 382416733822` and get the response as follows:
`docker login -u AWS -p eyJwYXlsb2FkIjoieXRqcUpOZ0FKUWV0RnExTks2ZWhCVHQ3M

[2018-05-31 19:30] winstonaws commented on #42
Hey, thanks for your interest!

"382416733822.dkr.ecr.us-east-1.amazonaws.com/linear-learner:latest" is an official sagemaker algorithm image, which runs a proprietary algorithm developed by the SageMaker team. They aren't available for pulling from ECR for this reason - to protect the intellectual property.

[2018-05-31 19:38] nekojan opened #43 "How to put model for training in the container?"
I'm confused. I followed the instruction but it isn't clear at all.

Now I have built the image and when I run it (`docker run -it tensorflow-base:1.7.0-cpu-py2`), I get a docker container with

If I have a model for training (.py or .ipynb file), how do I put it in the container so I can train this model on SageMaker? (Training data is on S3).

[2018-05-31 19:41] nekojan opened #44 "Can I use Python 3?"
Since the model is in container, I'm assuming that I should be able to use Python 3.
But if I can't, could you please explain why? Thank you.

[2018-05-31 20:59] winstonaws commented on #44
At this moment, we don't support python 3 with our official image, but we are planning to. There's a lot on our plate at the moment, but this is one of the things we know is important to add.

In the meantime, if you absolutely need to use python 3, you can build your own image by following the instructions in this repository, with small modifications to the dockerfiles.

[2018-05-31 21:06] nekojan commented on #44
Thank you! I've tried following the instruction for building image, but I'm stuck since I'm new to Docker. Please see issue #43

[2018-05-31 21:06] #44 closed

[2018-05-31 23:09] winstonaws commented on #43
Hi @nekojan,

The easiest way to use the SageMaker Tensorflow image to train on SageMaker is to use the SageMaker Python SDK. See: https://github.com/aws/sagemaker-python-sdk/blob/master/README.rst

Specifically, this part: https://github.com/aws/sagemaker-python-sdk/blob/master/README.rst#tensorflow-sagemaker-estimators

There's more example code here as well: https://github.com/awslabs/amazon-sa

[2018-06-01 15:02] nekojan commented on #43
Hello @winstonaws  Thank you for the answer.
Our team uses Python 3 and Tensorflow 1.8 to create models. From what I understand, the SDK doesn't support Python 3 yet, and the only way to train our current models on SageMaker is to create our own Docker image, would that be correct?

[2018-06-04 03:28] yangaws commented on #43
Hi @nekojan ,

Yes you are correct. Now our container supports neither python 3 nor TensorFlow 1.8. You may need to write your own container for now.

I will mark this as a feature request.

Thanks

[2018-06-04 03:34] nekojan commented on #43
@yangaws Thank you!
I'm trying out what's available on this repository for now (python 2 with TF 1.6 and 1.7), I'm still confused on how to get the model for training inside the container.

[2018-06-04 04:27] yangaws commented on #43
Hi @nekojan ,

As @winstonaws answered, the easiest way is to use SageMaker Python SDK. We have already built our production image for training and prediction. What you could do with SageMaker Python SDK is to prepare the data and the training/prediction script and invoke our production image to train/predict.

You could check out the links @winstonaws provides. It includes a repo with a bunch of

[2018-06-04 18:35] mrb114 opened #45 "Out of Sync with sagemaker-containers"
It appears that this repository is out of sync with sagemaker-containers v2.0.2. Are there any plans to update this repository for those changes and if so what is the timeline?

[2018-06-04 20:44] yangaws commented on #45
Hi @mrb114 ,

We have plans for migrating current tensorflow container (mxnet as well) to sagemaker-containers v2. Recently we will discuss the priority and timeline for this. Updates will be brought to this issue when related decisions are made.

For now, is using the old version sagemaker-container a problem for you? If you have any problems or concerns, please bring them here. We may provide sh

[2018-06-05 15:58] nekojan commented on #43
Ok. I'm closing this. Thank you.

[2018-06-05 15:58] #43 closed

[2018-06-19 11:46] VladimirEI commented on #45
In line 5 in Dockerfile.cpu there is empty reference, I guess it should point to local tar.gz of sagemaker-containers:
`ARG framework_installable`

It does not build the image without it, so I tried to install it directly from PYPI. The container image was built OK, though I haven't tested for version compatibility:

[code]

[2018-06-20 12:13] VladimirEI opened #46 "Custom request timeout for TF-Serving"
**Situation**: I run heavy TF model, which require long inference times.
**Problem**: For each inference request, I get:
[code]

`request_timeout` is by default set to 10 secongs, according to [proxy_client.py](https://github.com/aws/sagemaker-tensorflow-containers/blob/master/src/tf_container/proxy_client.py#L34):
[code]

Transformer for TF is created with only port specified, so timeout is defau

[2018-06-20 18:05] laurenyu commented on #46
hi @VladimirEI, thanks for using SageMaker! Definitely sounds like a useful thing to have, and we're always reprioritizing our backlog based on customer requests.

[2018-06-25 16:46] #42 closed

[2018-06-25 16:47] laurenyu commented on #40
closing as the TF 1.7 image has now been released

[2018-06-25 16:47] #40 closed

[2018-06-28 22:27] yshvrdhn opened #50 "Can we have dockerfiles for python 3"

[2018-06-29 03:08] nadiaya commented on #50
Hi @yshvrdhn

Thanks for your interest in SageMaker! Support for python3 is definitively important! This is on our backlog, and we'll give you an update when we have an ETA.

Related issue: https://github.com/aws/sagemaker-python-sdk/issues/19

[2018-07-09 09:03] PedroCardoso opened #53 "Build GPU docker image within AWS - Best practices"
Hi.

I want to do my custom docker image using GPU. Unfortunately, I do not have a local GPU to run nvidia-docker, and I was wonder if you guys have some best practices to build it ?

My idea was to build it on a GPU EC2 instance. But not sure that would work .

[2018-07-09 17:11] iquintero commented on #53
Hi

@PedroCardoso You can build your images without using nvidia-docker. nvidia-docker is only required for runtime. Let me know if this doesnt work for you.

[2018-07-11 16:55] PedroCardoso opened #55 "Tensorflow already installed in the Base image"
In the current last version (1.8.0) Tensorflow is installed in the base docker image. It is one of the dependencies of the other packages. Currently it actually installs the latest version, so 1.9.0

Why do we need to give tensorflow package at build time for the final image ? Is there a reason not to just give the correct version on the base build time ?

[2018-07-13 17:15] mvsusp commented on #55
Hello @PedroCardoso,

You are correct that some dependencies might install TensorFlow in the base image. The final image installs (or in the case that you mentioned, overrides) an optimized TensorFlow binary instead of the original TensorFlow binary available in pypi:

https://github.com/aws/sagemaker-tensorflow-container/blob/master/docker/1.8.0/final/py2/Dockerfile.cpu#L14

I pulled both CPU and

[2018-07-16 16:58] PedroCardoso commented on #55
A good valid point.
On this, is there a place where I could download compiled versions of tensorflow with CPU and GPU, optimised for sagemaker, in a Wheel format ?

[2018-07-16 16:58] PedroCardoso commented on #53
ok, thanks

[2018-07-16 16:58] #53 closed

[2018-07-20 06:32] andremoeller commented on #55
Hi @PedroCardoso ,

We don't distribute these binaries. Since your original question was answered, I'm going to close this issue, but please feel free to reopen it if you have more questions. Thanks!

[2018-07-20 06:32] #55 closed

[2018-07-26 17:17] PedroCardoso opened #60 "Error on entry.py"
I have created a custom image for Tensorflow

The custom image have a slight change in training and addes pip install for several packages to make it faster start.

While running I just got now this error :

[code]
As I have no `entry.py` or `configure_logging()` in my code, I am guessing this is internal to Sagemaker.

[2018-07-28 00:32] yangaws commented on #60
Hi @PedroCardoso ,

Could we have more info on how you run your container including:

1, What were you trying to do with your container? How did you do that?
2, Is what you post here the full stack trace? Do you have more logs for this?

[2018-07-31 11:18] PedroCardoso commented on #60
Hi @yangaws

I was using an AWS containers as base, and did some changes on the training class. Nothing external that would change the container behaviour.
I have a CPU and a GPU compilation. The CPU one is running fine, but not the GPU.

The full log is this :
[code]

[2018-08-05 21:42] andrewortman opened #62 "Support Distributed Training Strategies"
In TF 1.8, you can specify a distributed training strategy as part of the estimator's runspec. One strategy I'd like to use is MirroredStrategy, which would allow me to train my model across multiple GPUs in an instance that has more than 1 GPU. Right now, it seems the only way to do this approach is manually by building towers for each GPU in the model_fn.

Please consider making the strategy som

[2018-08-15 01:28] ChoiByungWook commented on #62
Hello,

Thanks for the suggestion! I'll mark this down as a feature request, but I can't commit to when we'll be able to deliver this. If you need this feature and can send us a pull request, we can also work with you on getting it merged in. Thanks!

[2018-08-15 05:04] tin-trong-nguyen opened #66 "Upgrade botocore package to higher version"
The container used when creating training job seems to use `botocore == 1.10.44` - inconsistent with the version in Sagemaker Notebook instance `botocore == 1.10.50`.

Test entry point script for sagemaker training job:
[code]

Returned
[code]

This creates problems with using `pandas.read_csv` on `botocore.response.StreamingBody` since in the older version this class does not have __iter__() meth

[2018-08-15 18:55] ChoiByungWook commented on #66
Hello,

I apologize for this problem.

If you are using the Python SDK to make your training call, can you please try using the requirements.txt file to update botocore?
- https://github.com/aws/sagemaker-python-sdk/blob/master/src/sagemaker/tensorflow/estimator.py#L161

There is also a chance that you might have to explicitly update boto3 as well. I think the version of botocore and boto3 within

[2018-08-16 04:54] tin-trong-nguyen commented on #66
I tried the requirements_file, for some reasons it still doesn't work.

requirements_file.txt:
[code]

entry_point:
[code]

Log:
[code]

[2018-08-18 05:28] prachiAeromana commented on #46
Any progress on this? I'm running into the same issue.

[2018-08-21 21:29] jesterhazy commented on #66
Unfortunately, the code in our containers that installs pip requirements files isn't able to reload already-imported modules. boto3 and bototcore are both already loaded by the time your requirements file is processed, so your training script sees the old versions even though the python packages have been updated on disk.

We plan to fix this in a future release, but don't have an ETA right now.

[2018-09-11 23:33] zmjjmz opened #71 "`_parse_json_request` should handle dictionaries properly"
Hey there,

So I've recently been speccing out a project that would require multiple inputs given to a model. I had a few hiccups getting this to work with a TensorFlow model w/Keras, but I figured out a workaround -- however I don't think this workaround should have to be built by the customer and instead should be handled by default.

Basically, when `serve` receives a request, it turns it into

[2018-09-12 17:55] zjost opened #72 "Unable to save assets"
The model exporter seems to be defined [here](https://github.com/aws/sagemaker-tensorflow-container/blob/master/src/tf_container/trainer.py#L130-L131).  There seems to not be a way to define the `assets_extra` parameter, as describe in the TensorFlow [docs](https://www.tensorflow.org/api_docs/python/tf/estimator/LatestExporter).

This is a problem since models sometimes need [vocabulary files](htt

[2018-09-12 23:01] winstonaws commented on #72
We've gotten a lot of feedback about the limitations of our current interface, and customers not being able to control all of the relevant options. We're working on changing the interface for the Tensorflow Container to allow for more flexibility in general (think something along the lines of https://github.com/aws/sagemaker-pytorch-container ), which should solve your problem. Until then, we like

[2018-09-13 03:44] zmjjmz commented on #71
Thanks!

[2018-09-13 16:31] zjost commented on #46
Same problem for batch transform.

[2018-09-13 21:09] zjost opened #73 "README not correct for tensorflow >= 1.9.0"
The README says all are built from base image, but that seems to no longer be the case.  1.9.0 reference "framework_support_installable", but this is not mentioned in the instructions.  Is this the location of `dist/sagemaker_tensorflow_container-<package_version>.tar.gz`?

[2018-09-14 19:34] yangaws commented on #73
Hi @zjost,

Sorry for the inconvenience. We did update the README in time. From 1.9.0 on, base docker file is not required. We will update the README soon.

[2018-09-15 00:50] winstonaws commented on #71
Took a longer look at this, and agreed that we should add something similar to the code you provided to the container code for deserialization.

I'd also like to take the chance to fix some of the Predictor serialization behavior on the Python SDK side, as it currently accepts a numpy array or a pure python dict/list, but not a dict of numpy arrays, which doesn't make a lot of sense. It'd help to

[2018-09-17 15:14] #60 closed

[2018-09-17 17:27] zmjjmz commented on #71
So to get this to work I was taking my dict of numpy arrays and doing something like:
`predict({k:v.tolist() for k,v in input.iteritems()})` which _works_ but is a bit ugly. I was thinking I'd bring that up as an issue on the SDK repo but I decided it was trivial enough to deal with that I wouldn't worry about it -- although it would be nice to see this behavior better documented.

Not sure if the

[2018-09-17 18:40] chinazm opened #75 "Need the customized exporter fn supported in tf container"
in this line:
https://github.com/aws/sagemaker-tensorflow-container/blob/d442ac7ecd87507c30378c98fcb36ebb9b585849/src/tf_container/trainer.py#L128

we need to add to support the customized exporter:
  **if hasattr(self.customer_script, 'exporter_fn'):
            # We may want to add the ability for the user to customize their exporter name in the future.
            # Should only be relevant for

[2018-09-18 00:32] winstonaws commented on #71
That makes sense. We should at least get it to work for the dict of numpy arrays case. Once the PR linked above gets merged and released, I'll see if I can work on the python SDK side of things, but at the very least that PR should solve the major problem.

[2018-09-20 00:43] mvsusp commented on #75
Hello @chinazm

Thanks for your suggestion. We are in the process of redesigning the SageMaker TensorFlow Container with the objective to improve the customer experience. One of the objectives is allow out customers to define their own exporter.

I will close ticket, please feel free, to reopen to ask additional questions or submit a new ticket.

Thanks for using SageMaker!

[2018-09-20 00:43] #75 closed

[2018-09-25 22:18] winstonaws commented on #71
This should be released now. Didn't get to working on the Python SDK side; if you want you can make a new issue there.

Please reopen if you have further problems along these lines.

[2018-09-25 22:18] #71 closed

[2018-09-25 22:21] winstonaws commented on #71
Python SDK issue opened independently here: https://github.com/aws/sagemaker-python-sdk/issues/394

[2018-09-26 19:55] zmjjmz commented on #71
Thanks!

[2018-10-04 16:39] yyolk commented on #50
+1

[2018-10-04 20:37] #73 closed

[2018-10-08 12:19] PedroCardoso opened #84 "Getting error using the image from Java"
While trying to launch a training from JAVA, I am getting an error. The job descprition as obtained from `aws sagemaker describe-training-job --training-job-name name` is close to identical, but I still get an error on some json.

The error message is
[code]

What am I missing, what is the HYPERPARAMETERS_FILE and where could I get some detailed documentation ? the one supplied from https://docs.a

[2018-10-08 14:50] PedroCardoso commented on #84
Ok, this was a json format error on one of the parameters. Sorry

[2018-10-08 14:50] #84 closed

[2018-10-09 01:40] eL0ck opened #85 "Add Instructions for Contributing to the project"
I am trying to get to the bottom of a [problem #413](https://github.com/aws/sagemaker-python-sdk/issues/413) causing my deployed tensorflow model to fail.

The model is a simple and deploys with basic instructions to GCP MLE.  The serving function which errors out on sagemaker works fine on MLE.

The problem seems to be in the way the sagemaker container processes the input.

---

As such I have s

[2018-10-09 17:55] ChoiByungWook commented on #85
Do you have docker-compose installed?

I believe the AmazonSageMakerFullAccess policy has by default an S3 condition in which the S3 bucket has to have the word sagemaker within the bucket name.

In addition for local mode, I believe since you have your AWS credentials set it should be passed properly to the container.

https://github.com/aws/sagemaker-python-sdk/blob/master/src/sagemaker/local/im

[2018-10-14 23:44] fernandoamat opened #87 "input_fn not being applied for incoming requests in non-local mode"
Hi,
I have setup a small regression example to test Sagemaker Tensorflow pipeline from beginning to end following the examples [here](https://docs.aws.amazon.com/sagemaker/latest/dg/tf-examples.html).

Everything worked OK, except when I want to overwrite `input_fn` method in my module so I can parse/transform incoming data at prediction time. If I use `instance_type='local'` the code works and th

[2018-10-15 17:03] icywang86rui commented on #87
Hi,

LocalMode is implemented outside of the containers. For the code running inside of the containers it should work exactly the same with localmode and cloudmode. Could you show me the entire log from endpoint? Including when the endpoint was starting. Thanks!

[2018-10-16 12:42] fernandoamat commented on #87
Hi @icywang86rui ,
Here I copy the entire log from cloudwatch for the endpoint: it basically shows from the moment I call `estimator.deploy` to create the endpoint to the moment I try to invoke the endpoint and it returns an error. Let me know if you need anything else.
Thanks,
@fernandoamat

[code]

[2018-10-16 17:56] icywang86rui commented on #87
Could you show me the environment variables set in your sagemaker model's primary container? You can find this from the aws console on the model's page. Let's confirm that the model is setup correctly.

[2018-10-17 12:29] fernandoamat commented on #87
Hi @icywang86rui,
Here are the environment variables listed in the models page.
[code]

Thanks,
Fernando

[2018-10-24 11:59] schipiga opened #95 "Sagemaker batch transform error in keras model with Reshape and LSTM"
**UPD.** Looks like it is `tensorflow_model_server` issue: https://github.com/tensorflow/serving/issues/1158

I try to make batch transform with keras model in sagemaker and get reshape error: **Input to reshape is a tensor with 500 values, but the requested shape has 250000**.

My model is:

[code]

My code to train and transform batch:

[code]

Training works well. But when I launch batch transf

[2018-10-27 03:09] mvsusp commented on #95
Hi @schipiga ,

You can try to change the input shape dim from ```input_shape=(500,)``` to input_shape=(500,1)```.

I will close this ticket given that is a TensorFlow Serving related question: https://github.com/tensorflow/serving/issues/1158

Thanks for using SageMaker!

Best,

Márcio

[2018-10-27 03:09] #95 closed

[2018-10-29 15:13] lukasz-artificial opened #99 "export_saved_model do not copy asset files"
A TensorFlow model seems to have directory structure as follows:
[code]

Current implementation of `export_saved_model` copy only `saved_model.pb`
file and `variables/variables*` files and do not copy asset files.

[2018-10-30 05:09] mvsusp commented on #87
Hi @fernandoamat ,

The input_fn is working in SageMaker as well. Let me explain what I think is happening:

1. Your input_fn receives ```"{\"inputs\": [ [0.5, 0.2]]}"``` and returns ```{"inputs": [ [0.5, 0.2]]}```
2. The server sends the data to the proxy client https://github.com/aws/sagemaker-tensorflow-container/blob/master/src/tf_container/serve.py#L223
3. The proxy client needs to transform

[2018-10-30 13:10] fernandoamat commented on #87
Hi @mvsusp
Thanks for taking a look at this and for the clear explanation. I included the modification you suggested and rerun the notebook to retrain and redeploy the endpoint and unfortunately it does not work. When I call the endpoint like this:
[code]
I get the following stacktrace in cloudwatch:

[code]

However, when I call the same endpoint like this
[code]
the requests success and returns

[2018-11-02 00:11] jesterhazy commented on #99
fixed in pending PR #100

[2018-11-02 00:11] #99 closed

[2018-11-02 08:44] nadiaya commented on #87
Hi,
As mentioned above by my teammates the `input_fn`/`default_input_fn` logic is part of the container and does not depend on local/non-local mode.

Would it be possible to see how you deployed the endpoint in local and non-local mode cases? Did you use python SDK estimator both times?

What happens if you query the endpoint using python sdk?

Also would it be possible to see the tar file from s3

[2018-11-02 09:46] schipiga commented on #95
hey @mvsusp , it didn't help. But any case we found workaround how to avoid `Reshape` usage and to use multidimensional arrays with `application/json`.

[2018-11-18 22:14] PedroCardoso opened #115 "Error saving the model artifact."
Recently, Tensorflow  image started to give have an error with the final part of the training while saving the model artifact :
[code]

I do have the argument checkpoint_path in the function call, and even added it into the parameters. Looking at the logs, the actual checkpoint is being stored in a local temp folder, like the model:
[code]

Why did it stop storing on S3, nothing on the code indica

[2018-11-21 12:04] monark12 commented on #46
Yeah, I am facing a similar issue. Getting a DeadLine Exceeded Error when running transform jobs on a large file.

[2018-11-22 13:30] devTechi opened #123 "Where can the official images be found"
@nekojan
I don't know where I can find you official images to add some different libraries which we can use in SageMaker.

In https://github.com/aws/sagemaker-tensorflow-container/issues/43#issuecomment-393710684_) you wrote that you publish them for publicly use. But where can I find them? :)

Because building from scratch takes a real long time and needs some memory adjustments for the docker bu

[2018-11-27 03:43] yangaws commented on #123
Hi @devTechi ,

I am not sure if I get your question. I guess you are looking for the public official SageMaker TensorFlow container that you could just pull?

The official image is in following format:
520713654638.dkr.ecr.{region_name}.amazonaws.com/sagemaker-tensorflow:{tensorflow_version}-{processor}-{python_version}

For example, if you want the cpu image in us-east-1 with tensorflow 1.11.0 i

[2018-11-27 10:02] devTechi commented on #123
Hi @yangaws
thanks for you answer. That was exactly what I was looking for.

Did I miss those information or where could I have found them?

Anyways yes. I want to use the already built images from you ECR or another registry without the need to build them on our own. This is really time consuming and needed adjustments in the local docker preferences (at least on my mac).

So this was really help

[2018-11-27 10:02] #123 closed

[2018-12-01 02:33] elangovana opened #130 "Python 3 : sagemaker-tensorflow-scriptmode:1.11.0-cpu-py3 fails"
Hi Team,
Is python 3 officially supported??

I have tried using the following samples provided as part of Sagemaker sample notebooks

 a. tensorflow_abalone_age_predictor_using_keras

 b. tensorflow_keras_CIFAR10

I have also tried with my own entry point

## Steps to reproduce:

1. Change the estimator call to use py3 and train and deploy the model for the 2 sample notebooks,  tensorflow_abalone_

[2018-12-03 18:15] icywang86rui commented on #130
Hi,

Python 3 is officially supported with Script Mode Only you can find the documentation here:
https://github.com/aws/sagemaker-python-sdk/tree/master/src/sagemaker/tensorflow

Script Mode requires a different format of the training script so some of the the Legacy Mode scripts might not work with Script Mode. Script Mode simply just runs the training script. It does not save the model so the tr

[2018-12-07 19:43] zmjjmz opened #136 "[Question] TF 1.12 timeline"
Hey there,

I've encountered a weird bug in using entrypoints built around the surprisingly unsupported Keras -> `model_to_estimator` -> `train_and_evaluate` process where the `global_step` count doesn't increment during training, causing Sagemaker to take the untrained model as the final one.

This issue is resolved in TF 1.12 afaict (I was able to replicate it locally in TF 1.11 but not TF 1.12)

[2018-12-07 23:20] jesterhazy commented on #136
This is a priority for us too. Stay tuned!

[2018-12-07 23:20] #136 closed

[2018-12-13 00:03] ChoiByungWook commented on #46
https://github.com/aws/sagemaker-tensorflow-container/pull/135

This should allow for individuals to customize their timeout using an environment variable.

[2018-12-21 04:45] ryanpeach commented on #130
Where is an example of the Dockerfile that runs script mode py3 (for modification). All I see here is python 2 containers.

[2018-12-21 15:14] laurenyu commented on #130
@ryanpeach the script mode Dockerfiles are in the `script-mode` branch of this repo: https://github.com/aws/sagemaker-tensorflow-container/tree/script-mode/docker

[2018-12-27 19:34] JingJZ160 commented on #130
I ran into the same issue during deployment. Is there any update on the serving of model trained by the Script Mode?

If it's not ready, can we use the trained model by the Script Mode outside Sagemaker to run predictions?

Thanks!

[2019-01-16 16:35] zmjjmz opened #153 "[Minor] script-mode branch lacks Dockerfile patch to deal with S3 response timeout configurability"
Hey there,

A while back (like, a year ago) I encountered [this issue](https://github.com/tensorflow/tensorflow/issues/13844) where the environment variable `S3_REQUEST_TIMEOUT_MSEC` was unset in the SageMaker containers, causing the saving of large checkpoints (e.g., an embedding lookup table) to fail and stopping the training job.

This is resolved (as mentioned in the linked issue) by just chan

[2019-01-19 00:37] mvsusp commented on #153
Hi @zmjjmz,

Thanks for the suggestion. We are currently working on improving the S3 limitation for large files and will have this bug fixed soon.

We will update this ticket when the feature is released.

[2019-01-19 21:06] juanilarregui opened #154 "Error in tensorflor_model_server"
Hi,

I have a custom Tensorflow Model running in SageMaker (with my own `input_fn` and `output_fn` to handle pickled input-output). After a couple of working request/response from outside, at some point a new request can't be served, with error (in log):

`Error in 'tensorflow_model_server': double free or corruption (fasttop): 0x00007ff740179300 ***`

After that error, any posterior request won't

[2019-01-22 00:00] juanilarregui commented on #154
Hi @mvsusp ,

It seems correct.

System Information
Framework: TensorFlow
Framework Version: 1.12
Python Version: python 2.7
CPU or GPU: CPU
Python SDK Version: 1.17.2
Are you using a custom image: No.

Describe the problem
I can correctly deploy a custom TensorFlow Model using the python SDK (using sagemaker.tensorflow.TensorFlowModel, etc.). The first (or few) predictions are correctly served. A

[2019-01-22 20:14] mvsusp commented on #154
Hi @juanilarregui,

Thanks for the detailed information. Do you have a minimal model that we can use to reproduce the issue? That can accelerate the fix.

In the meanwhile you could extend the container as follow:

- create a Dockerfile using the original TFS container as base
- install your dependency on the file
- push to your own ECS account
- deploy the container with using the [``image_name``

[2019-01-23 14:26] juanilarregui commented on #154
Hi @mvsusp ,

Unfortunately, I'm not allowed to provide a model. In the meanwhile, we are going for the ECS solution with our own container.

Hope to see the fix soon.

Thanks!

[2019-01-29 23:35] icywang86rui commented on #153
@zmjjmz
We have released the bug fix to our TensorFlow containers. This fix addresses a collection of S3 related errors and improves performance for s3 file upload. You should be able to remove S3_REQUEST_TIMEOUT_MSEC now. Note that the fix is only applied to the 1.12 containers. Please let us know if the training job still fails.

[2019-01-30 18:56] icywang86rui commented on #154
@juanilarregui
Did using tcmelloc fix the problem?

[2019-02-02 00:44] sermolin opened #162 "1.9.0 docker build fails"
sh-4.2$ docker build -t tensorflow-final:1.9.0-cpu-py2 -f Dockerfile.cpu .
Sending build context to Docker daemon  51.16MB
Step 1/17 : FROM ubuntu:16.04
 ---> 7e87e2b3bf7a
Step 2/17 : MAINTAINER Amazon AI
 ---> Using cache
 ---> a8a720b08874
Step 3/17 : ARG framework_installable
 ---> Using cache
 ---> 0f83c4349ed3
Step 4/17 : ARG framework_support_installable=sagemaker_tensorflow_container-1.0.0.

[2019-02-04 17:22] icywang86rui commented on #162
@sermolin,
Apart from downloading the tensorflow binary you will also need to build sagemaker_tensorflow_container and copy the tar ball to the dockerfile directory

[code]
Hope this helps.

[2019-02-04 18:14] icywang86rui commented on #154
Haven't heard back for a few days. Closing. Feel free to reopen if the work around doesn't fix the problem.

[2019-02-04 18:14] #154 closed

[2019-02-28 11:39] Christiaanvv commented on #50
+1

[2019-03-01 21:13] mindlace opened #172 "Add python-dev to the image"
if a package in a `requirements.txt` requires complilation, it fails.

If the `python-dev` package were added to the image, then it would succeed.

Currently working around this as follows:

[code]

Kind of complicated.

[2019-03-01 22:38] iquintero commented on #172
Hi @mindlace

Thanks for reporting this, we were not aware of this regression. I will discuss this with the team to get your PR merged and potentially replicate it across our other containers.

[2019-03-01 23:36] iquintero commented on #172
I've merged your PR and it turns out our other containers are already using python-dev. Im going to close this issue feel free to reopen if you have any further comments :)

[2019-03-01 23:36] #172 closed

[2019-03-02 00:48] andremoeller opened #174 "Multi-record requests (at least with CSV) don't work"
Inspired by: https://github.com/aws/sagemaker-python-sdk/issues/672

This code just takes the first row of CSV:
https://github.com/aws/sagemaker-tensorflow-container/blob/master/src/tf_container/serve.py#L196-L213

There's a todo there to fix this in the code:

`# TODO csv is constructed as 2D arrays always, overall multi-point calls must be fixed`

[2019-03-06 23:10] nadiaya commented on #174
Thank you! Added to our backlog.

[2019-03-27 17:16] elgalu commented on #42
Hi! does this also apply to DeepAR? I'm also getting:

[code]

[2019-04-04 21:51] albertlim commented on #153
@icywang86rui thank you, this is a problem we're trying to deal with on AWS. Could you point me to the commit that has the fix and/or a description on how it was fixed?

[2019-04-08 23:00] icywang86rui commented on #153
@albertlim
We have released our containers with a special TensorFlow binary. This binary is built with this change - https://github.com/tensorflow/tensorflow/pull/24054
This change patches the TF S3 plugin. You can find more details from the pr description.

Please let us know if you have more questions.

[2019-04-22 15:32] domino14 opened #182 "missing value for `framework_support_installable`?"
Hi, I am trying to use the script-mode Dockerfile here: https://github.com/aws/sagemaker-tensorflow-container/blob/script-mode/docker/1.12.0/Dockerfile.gpu

I tried to build it as the docs showed in the README. For example:

```docker build -t sagemaker-py3-tf12-base:latest --build-arg py_version=3 --build-arg framework_installable=tensorflow_gpu-1.12.0-cp36-cp36m-manylinux1_x86_64.whl -f Dockerfi

[2019-04-22 17:57] laurenyu commented on #182
hi @domino14, thanks for using SageMaker! Apologies for the confusing documentation - the README in this repository hasn't been updated yet for Script Mode.

to get the binary for `framework_support_installable`, run `python setup.py sdist` in the root directory of this repository, and then copy `dist/sagemaker_tensorflow_container-2.0.0.tar.gz` into the directory with the Dockerfile that you're u

[2019-04-22 18:46] domino14 commented on #182
@laurenyu thank you for your help. I seem to have successfully built the sagemaker container now, although I got this error (or warning?) a couple of times:

[code]

[2019-04-22 18:49] laurenyu commented on #182
@domino14 can you try running `pip install -U sagemaker-containers` before running `python setup.py sdist`?

[2019-04-23 14:00] domino14 commented on #182
Hi @laurenyu, that didn't fix it, but the container still seemed to build.

However, when I try to train on this container, using Sagemaker, I get the following error in Cloudwatch:

[code]

Do you know what the problem could be here? All I did was build the tensorflow-gpu image as I mentioned above, and added my training code to it, but it can't do `cuInit` so it uses CPU training which is much s

[2019-04-23 16:25] laurenyu commented on #182
@domino14 hmm. out of curiosity, is there something missing from the image that's motivating you to build it yourself rather than using the pre-built SageMaker image? if you can use the pre-built one, does doing so produce the same error?

[2019-04-23 17:41] domino14 commented on #182
@laurenyu, I don't know how to use the pre-built one. Where can I find it? I found something that said the pre-built images are at this hardcoded URL:

`520713654638.dkr.ecr.us-west-2.amazonaws.com` but it's asking me for basic auth credentials when I use any path after it (for example `docker pull 520713654638.dkr.ecr.us-west-2.amazonaws.com/sagemaker-tensorflow-scriptmode:1.12.0-gpu-py3`) gives

[2019-04-23 17:46] laurenyu commented on #182
@domino14 if you're using the [SageMaker Python SDK](https://github.com/aws/sagemaker-python-sdk) to launch your training job, then the SDK will take care of figuring out the image name. If you're using boto3 or some other client, then you have the correct URI - `520713654638.dkr.ecr.us-west-2.amazonaws.com/sagemaker-tensorflow-scriptmode:1.12.0-gpu-py3`. You shouldn't need to pull it locally to u

[2019-04-23 17:56] domino14 commented on #182
@laurenyu I am building a docker image so that I can add my own training code to it. For example, my Dockerfile now looks like (if I am trying to use the default SageMaker image):

[code]
Then in my `/opt/program` directory there is a `train` executable that starts the python script to do the training. But this fails because it can't download the Docker image above (the base path). Before this, I

[2019-04-23 18:11] laurenyu commented on #182
@domino14 got it. to download the image, you'll need to authenticate with ECR:

[code]

as for exposing your program, if you set the environment variable `SAGEMAKER_PROGRAM=/opt/program`, that should allow the underlying sagemaker-tensorflow-container support code to find your training code. You may also need to set `SAGEMAKER_SUBMIT_DIRECTORY` to the directory where your code is located.

[2019-04-23 20:32] domino14 commented on #182
Hi @laurenyu, I used the command you gave me above to download the default sagemaker image. I downloaded this one: `520713654638.dkr.ecr.us-east-1.amazonaws.com/sagemaker-tensorflow-scriptmode:1.12.0-gpu-py3`. My own docker image then extends from it by adding the code, as in the Dockerfile I pasted above. Then I start a SageMaker training job with this new image. I get the same error:

[code]

[2019-04-23 21:19] domino14 commented on #182
@laurenyu  thanks so much for your help, I got it working! I removed the `ENV LD_LIBRARY_PATH` lines from the Dockerfile as I assumed the SageMaker host would have everything set up properly.

[2019-04-24 22:57] #182 closed

[2019-05-07 18:35] mhwilder opened #188 "Multiple inputs failing with different types"
I've been working to deploy a TensorFlow model in SageMaker that takes 3 inputs (2 images and one float array). I'm passing the images in as base64 encoded strings and the float just in a numpy array. I've tested under a couple of different conditions and I'm pretty sure I've isolated the problem to the ```_value_to_tensor()``` function in [proxy_client.py](https://github.com/aws/sagemaker-tensorf

[2019-05-13 19:37] mhwilder commented on #188
As a side note: I was able to get around this issue by implementing the base64 conversions in the input_fn instead of handling it in the serving_input_receiver_fn. It still seems that this could be an issue in certain cases.

[2019-05-28 12:17] keerath opened #202 "Where are the container images for script mode ?"
I check the script-mode branch too, on running "python setup.py sdist" it produces a tar file with version 0.1.1.dev0 as the VERSION file has this string. But framework_support_installable=sagemaker_tensorflow_container-2.0.0.tar.gz in the Docker file.
I don't see any Dockerfiles related to script mode with py3 on the master branch. Is it safe to assume that the script-mode is stable and if so, wh

[2019-05-28 20:38] ChoiByungWook commented on #188
Hello @mhwilder,

Apologies for the late response and thank you for bringing this issue to our attention.

It is unfortunate that the serving support in this code base is causing problems and isn't sufficient enough for use cases above single tensor inputs.

For now, I'll add this to our backlog and hopefully I can discuss with the team on how to support this.

In the meanwhile, please see if the

[2019-05-28 20:39] #162 closed

[2019-05-28 20:55] ChoiByungWook commented on #202
Hello @keerath,

Thank you for bringing this to our attention.

It seems that this is an error on our part and we are looking into fixing this issue.

[2019-05-28 22:04] #153 closed

[2019-05-29 07:25] keerath commented on #202
@ChoiByungWook @icywang86rui In the meanwhile, could you please let me know if the script-mode branch is stable because after changing the version file I was able to build the images.

[2019-05-29 23:04] ChoiByungWook commented on #202
@keerath,

Yes this repo should stable minus the version hiccup.

[2019-05-30 06:25] keerath commented on #202
@ChoiByungWook Thanks a lot for the confirmation, also I was able to upload these images to ECR and run integration tests successfully.

[2019-05-30 10:35] includeLib opened #205 "Is there any documentation to build the SageMaker Elastic Inference TensorFlow serving container?"

[2019-05-30 10:35] ghost opened #206 "Is there any documentation to build the SageMaker Elastic Inference TensorFlow serving container for python 3?"

[2019-05-30 10:37] #205 closed

[2019-05-31 19:10] ChoiByungWook commented on #206
Please visit this repo: https://github.com/aws/sagemaker-tensorflow-serving-container#building-your-image

This may require changes on how you call your predictions, as the repo above interacts with the TensorFlow serving REST API.

There aren't any plans to support Python 3 in the TensorFlow container, which utilizes GRPC to make the predictions.

Please let me know if there is anything I can cla

[2019-06-07 13:27] elgalu commented on #50
Hi, what's the status of this?

[code]

[code]

[2019-06-07 13:44] xinshang-iai commented on #50
+1 please support python 3.6

[2019-06-07 16:30] laurenyu commented on #50
hey all, apologies for not updating this issue sooner. Python 3 is now supported with the SageMaker TensorFlow Script Mode images. They come with a different training script format that allows for more flexibility, in addition to supporting Python 3.6.

For more:
* docs: https://sagemaker.readthedocs.io/en/stable/using_tf.html#preparing-a-script-mode-training-script
* code: https://github.com/aws/

[2019-06-07 16:30] #50 closed

[2019-06-07 16:31] #206 closed

[2019-06-07 16:34] laurenyu commented on #45
The TensorFlow Script Mode images rely on v2 of sagemaker-containers. Check out the code here: https://github.com/aws/sagemaker-tensorflow-container/tree/script-mode

[2019-06-07 16:34] #45 closed

[2019-06-07 16:36] laurenyu commented on #72
The TensorFlow Script Mode images now allow for greater flexibility with training scripts, as Winston alluded to. You can read more about that here: https://sagemaker.readthedocs.io/en/stable/using_tf.html#preparing-a-script-mode-training-script

[2019-06-07 16:36] #72 closed

[2019-06-07 16:39] laurenyu commented on #62
The TensorFlow Script Mode images now allow for greater flexibility with training scripts, which should allow you to specify your desired distributed training strategy. You can read more about that here: https://sagemaker.readthedocs.io/en/stable/using_tf.html#preparing-a-script-mode-training-script

[2019-06-07 16:39] #62 closed

[2019-07-20 23:21] leolorenzoluis commented on #202
@ChoiByungWook Do we need to build our own images? Is there any AWS public repo that can pull the script mode containers easily? I want to use the sagemaker python sdk with Estimator rather than using boto

[2019-07-20 23:54] leolorenzoluis opened #225 "Script mode with code build?"
Is it possible to use script mode for continuous deployment or it's only for local development?

[2019-07-22 21:44] laurenyu commented on #225
hi @leolorenzoluis, could you elaborate on what you're looking to do? The TensorFlow Script Mode images are available publicly via Amazon ECR.

[2019-07-23 16:00] leolorenzoluis commented on #225
@laurencer I figured it out. It was just hard to find the public ECR images in the documentation.

[2019-07-23 16:00] #225 closed

[2019-07-23 17:58] panfeng-hover opened #226 "Support for tensorflow 1.14?"
Hello, I am wondering when will the docker image support for tensorflow 1.14 available? Thanks!

`The image '520713654638.dkr.ecr.us-east-1.amazonaws.com/sagemaker-tensorflow:1.13-gpu-py3' does not exist.`

[2019-07-25 11:55] keerath commented on #202
@leolorenzoluis I was also under the impression that we had to build these images ourselves and upload them to ECR, but you don't have to do that. Please look at the link below of how to reference these images.

https://docs.aws.amazon.com/sagemaker/latest/dg/pre-built-containers-frameworks-deep-learning.html

[2019-08-01 15:43] knakad commented on #226
Actually, we're actively currently working on releasing 1.14! We'll follow up when it's ready =)

Out of curiosity, what new feature are you aiming for with 1.14?

You also linked an error regarding 1.13. Was that purposeful?

[2019-08-01 17:31] panfeng-hover commented on #226
Oh, I think I actually need the tf 1.14 for `sagemaker-tensorflow-serving-container`. The above error is due to `TensorFlowModel` not support `py3`.

@ChoiByungWook gives a detail explanation in a similar issue. https://github.com/aws/sagemaker-python-sdk/issues/912

The reason I need tf 1.14 is basically I need to use `mask-rcnn` model, currently in `tensorflow/models` repo, the `mask-rcnn` not s

[2019-08-01 18:46] icywang86rui commented on #226
Like @knakad mentioned we are currently working on 1.14 release and it will be available in the near future. Sorry that you are blocked for now. Closing the issue for now. Feel free to reopen if you have any further questions.

[2019-08-01 18:46] #226 closed

[2019-09-09 08:33] Juliopr commented on #226
so. did the 1.14 release happened? or its only python 2.7 with tensroflow 1.12.

[2019-10-14 15:50] laurenyu commented on #226
@panfeng-hover @ks233ever @Juliopr @Rhuax TF 1.14 support has been released. You can find the full list of supported versions at https://github.com/aws/sagemaker-python-sdk#tensorflow-sagemaker-estimators

[2019-10-16 17:47] ragavvenkatesan opened #240 "Looking for TF 1.14 ScriptMode Py3 GPU image"
It does not seem like this image is available. If it is, can you provide please?

[2019-10-16 20:09] ChoiByungWook commented on #240
Hi @ragavvenkatesan,

The TensorFlow 1.14 ScriptMode Py3 GPU image are now being hosted on a different account.

Please see: https://docs.aws.amazon.com/sagemaker/latest/dg/pre-built-containers-frameworks-deep-learning.html

[2019-10-23 00:40] Elizaaaaa opened #244 "botocore version error"
https://github.com/aws/sagemaker-tensorflow-container/blob/e3a7a6581d93997ea4890074e145e42fed0d9801/setup.py#L60

When i run sagemaker test with `pytest test/integration/sagemaker` , it returns me with the error
ContextualVersionConflict: (botocore 1.13.0 (/usr/local/lib/python2.7/dist-packages), Requirement.parse('botocore<1.13.0,>=1.12.72'), set(['boto3']))

After checking logs i found out the b

[2019-10-24 22:38] laurenyu commented on #244
what package in your workspace was requiring botocore<.13.0,>=1.12.72?

If you have a pre-installed version of botocore that satisfies >=1.12.140, then `pip install .[test]` shouldn't try and upgrade botocore.

[2019-10-24 22:39] laurenyu commented on #240
closing due to inactivity. feel free to reopen if necessary.

[2019-10-24 22:39] #240 closed

[2019-10-24 22:40] laurenyu commented on #87
closing due to inactivity. feel free to reopen if necessary.

[2019-10-24 22:40] #87 closed

[2019-10-24 22:42] laurenyu commented on #130
(I realize this is a very late response, but just in case someone else stumbles across here looking for the answer...)

models trained using the Script Mode image can be hosted using the TensorFlow Serving images: https://github.com/aws/sagemaker-tensorflow-serving-container

[2019-10-24 22:42] #130 closed

[2019-10-25 19:03] Elizaaaaa commented on #244
checked the boto3 version and resolve the problem. thanks!

[2019-10-25 19:03] #244 closed

[2019-11-05 14:08] durandg12 opened #246 "Support for bleeding edge versions of Tensorflow"
Hi,

I am thinking about using SageMaker for research purposes and I need to use the latest tools released with the last version of TF.

Yet, TensorFlow 2.0.0 has been released [more than 1 month ago](https://github.com/tensorflow/tensorflow/releases/tag/v2.0.0) and it seems that there is still no support for it.

So I wonder : what is the timeframe of AWS for releasing the newer versions of the m

[2019-11-05 18:39] anankira commented on #246
Thank you for your interest ! We plan to add support for Tensorflow 1.15 and Tensorflow 2.0. Stay tuned!

[2019-11-08 14:48] 00krishna commented on #246
+1 for Tensorflow 2.0 support. It really makes no sense for me to start using Sagemaker when trying to build custom containers requires more effort than just building up an EC2 node from the deeplearning AMI. I really appreciate your work on releasing a Tensorflow 2.0 container. Do you have any time-frame on that. Or do you know of any github repos where someone has created a custom Tensorflow 2.0

[2019-11-08 17:35] laurenyu commented on #246
For an example of how to build your own custom TF 2.0 image for use with SageMaker, see https://docs.aws.amazon.com/sagemaker/latest/dg/build-container-to-train-script-get-started.html

For the base image, you can use `tensorflow/tensorflow:2.0.0b1`, per [this StackOverflow question](https://stackoverflow.com/questions/57396212/sagemaker-and-tensorflow-2-0).

[2019-11-08 17:46] 00krishna commented on #246
Thanks so much @laurenyu that is great. This will help a lot. I was reading through some of the dockerfile code in the repo trying to figure out how to adapt it. The links you gave will help a ton. Thanks so much.

[2019-11-26 21:19] 00krishna commented on #246
I thought I would check if there are any updates to Tensorflow 2.0 availability in advance of the AWS conference next week? Are they planning any new releases of the containers? Thanks.

[2019-11-26 21:21] laurenyu commented on #246
Unfortunately we have no roadmap to share at this time. Thank you for your patience!

[2019-12-04 15:15] ks233ever commented on #226
Has anyone deployed using 1.14 yet? I'm getting an error that the image doesn't exist

[2019-12-10 22:04] Seninus opened #248 "docker/1.14.0/py3/Dockfile.cpu can't be build through."
i see the base Dockfile and final Dockfile are combined  into one Dockfile.
meanwhile
1. the readme.rst is not updated yet.
2. this one Dockfile can't really be built through.

[2019-12-10 23:40] ajaykarpur commented on #248
Hi @Seninus, thanks for bringing this to our attention. Can you please provide more details about the issue (including any relevant error messages) and instructions to reproduce it?

[2019-12-11 02:35] Seninus commented on #248
COPY failed: stat /var/lib/docker/tmp/docker-builder302350409/sagemaker_tensorflow_container-2.0.0.tar.gz: no such file or directory
---
Curious what is sagemaker_tensorflow_container-2.0.0.tar.gz ?  i don't see anywhere creating this tar.gz file and in the Dockfile, the copy action failed.

[2019-12-18 15:37] JKurzer opened #260 "Custom CUDA Operations"
What's the best way to integrate support for new or novel cuda operations such as ROI Pooling? Did I miss an obvious approach?

If it's not currently a feature, would you accept a patch to factor in better support?

[2019-12-23 22:38] nadiaya commented on #260
We do accept patches.

Also you could use your own base image and just install sagemaker-tensorflow-container library in there to get the same user experience when running on SageMaker:
https://github.com/aws/sagemaker-tensorflow-container/blob/master/docker/1.14.0/py3/Dockerfile.cpu#L110
https://github.com/aws/sagemaker-tensorflow-container/blob/master/docker/1.14.0/py3/Dockerfile.cpu#L128

[2019-12-26 19:31] Eladio commented on #246
Is there any on news on TF 2.0 support?

[2019-12-27 02:28] surajkota commented on #246
Thank you for using Sagemaker
Tensorflow-1.15 was released earlier this month. Tensorflow-2.0 containers have also been released 3 days ago.

[2019-12-27 02:28] #246 closed

[2019-12-27 03:14] surajkota commented on #248
Hi @Seninus please change [line 77](https://github.com/aws/sagemaker-tensorflow-container/blob/master/docker/1.14.0/py3/Dockerfile.cpu#L77) in Dockerfile to -

`
ARG framework_support_installable=sagemaker_tensorflow_container-*.tar.gz`

Use the following commands to build the image -
[code]

We will update the readme. Let us know if you have any more issues

[2019-12-30 09:31] starrylive opened #263 "RuntimeError: Failed to run: ['docker-compose', '-f', '/tmp/tmp93Sn5U/docker-compose.yaml', 'up', '--build', '--abort-on-container-exit'], Process exited with code: 127"
SageMaker deploy Tensorflow container,but can't work !
![image](https://user-images.githubusercontent.com/38621156/71576025-1211d200-2b2a-11ea-9f76-ada682f094cd.png)
![image](https://user-images.githubusercontent.com/38621156/71576068-42f20700-2b2a-11ea-89ef-e491f40b3001.png)

[2020-01-02 06:41] ChuyangDeng commented on #263
Hi @starrylive, Thanks for using SageMaker. From the screenshot it seems you are using a customized image "sagemaker-tf-cifar-10-example:latest" and the code failed at training stage. Can you provide us with more details of the image you are using?

e.g. which framework version you are using? which python version you are using? etc.

[2020-01-04 03:22] starrylive commented on #263
Hi @ChuyangDeng, thanks for bringing this to our attention.  I'm trying to run the awsLab notebook. I don't modify the example from the awsLab.  the URL is https://github.com/awslabs/amazon-sagemaker-examples/tree/master/advanced_functionality/tensorflow_bring_your_own

[2020-01-11 00:34] laurenyu commented on #263
where are you running this? (i.e. SageMaker Notebook Instance, locally on your computer, etc.)

[2020-01-11 11:09] starrylive commented on #263
SageMaker Notebook Instance.

[2020-01-13 18:15] laurenyu commented on #263
I just ran the notebook without issue on a fresh SageMaker Notebook Instance.

What kernel and instance type are you using?

[2020-01-15 00:49] starrylive commented on #263
I used to Tensorflow2 kernel and tensorlfow3 kernel . I just  used python2 kernel and  I finished the training job inerrantly. In my opinion, kernel version can influence the training job.

[2020-01-15 00:49] #263 closed

[2020-01-16 05:36] xzy0223 opened #271 "pytest unit test error"
hi, I am trying to build a tf2.0 container, but when i run this:
`pytest test/unit`

it turns out that:
[code]

could you give me some suggestions?

[2020-01-22 21:34] nadiaya commented on #271
According to the error you do not have permissions to create a directory in the system you are running the unit tests. Try running pytest with sudo.
Though there is no need to run unit or integ tests in order to build the container.
Would you mind telling us more about your use case?

[2020-02-13 07:28] xzy0223 commented on #271
@nadiaya thanks, Nadia
I am starter in sagemaker, I just followed the readme to finish all the step.
As you said we don't need to run unit, so my question is: when will I do the unit test?

[2020-02-13 18:57] laurenyu commented on #271
you would need to run the unit tests only if you're making changes to the code in this repository.

what is your use case? are you looking to build the TF 2.0 image from scratch or just use a TF 2.0 with SageMaker?

[2020-02-26 05:32] ruodingt opened #294 "Cannot find EIA images"
Hi mate,
I was trying to access an inference image for tf 1.15.0 with EIA:

I to access the image through url:
`763104351884.dkr.ecr.ap-northeast-2.amazonaws.com/tensorflow-inference-eia:1.15.0-cpu`

I was trying to use the EIA2 in Seoul so I just put the region as `ap-northeast-2`.

However I get an error says:
[code]
Then I tried to build the image by myself with
[code]

Then I got
[code]

Could

[2020-03-12 22:06] #294 closed

[2020-04-07 08:48] athewsey opened #340 "`--model_dir` is inconsistent, confusing, and unnecessary"
Raising here (where I believe the implementation is?) as opposed to on SageMaker SDK - which as I understand just documents the functionality.

**Every other** SageMaker framework container that I've seen (see docs for [MXNet](https://sagemaker.readthedocs.io/en/stable/using_mxnet.html#for-versions-1-3-and-higher), [PyTorch](https://sagemaker.readthedocs.io/en/stable/using_pytorch.html#prepare-a-p

[2020-04-09 19:25] jenishah opened #344 "Restore from checkpoints Tensorflow eager execution"
Hi,
Is there a method to restore model from checkpoints saved while previous training in Sagemaker,
for tensorflow v2.1.0?

Thanks,
Jeni

[2020-04-15 14:12] larsll opened #345 "Submodule Error"
The submodule setup of this repository is not clean. When running `git submodule status` one gets the error message `fatal: no submodule mapping found in .gitmodules for path 'benchmarks/tf_benchmarks/benchmarks`.

Using the module directly this might not be a major issue; using it as a submodule somewhere causes issues in processes that recursively updates submodules...

[2020-04-16 04:20] dav009 opened #346 "Spot instances: checkpoint paths for intermediate data?"
I am confused by the documentation.

- I am using tensorflow with keras and spot instances.

- where should my model save checkpoints?
- where should it read the checkpoints from to resume in case it was stopped at a previous point?

so far I have read docs mentioning: SM_OUTPUT_INTERMEDIATE_DIR,  passing `checkpoint_local_path` as an estimator parameter,  or using `/opt/ml/checkpoints/`[2]?

- wh

[2020-04-19 07:57] theansaricode opened #347 "Failed. Reason: The primary container for production variant AllTraffic did not pass the ping health check. Please check CloudWatch logs for this endpoint"
Hi,
I am using sagemaker for deployment of my tensorFlow model but whenever i am trying to deploy my tensorFlow model so it is showing me the following error:

`UnexpectedStatusException: Error hosting endpoint sagemaker-tensorflow--*-*-*-**- Failed. Reason:  The primary container for production variant AllTraffic did not pass the ping health check. Please check CloudWatch logs for this endpoint..

[2020-04-21 21:39] laurenyu commented on #340
sorry for the delayed response here.

The main use case for an S3 `model_dir` is when using TensorFlow's support for S3 checkpointing during distributed training. TF (the framework itself) does its own thing with uploading to S3, which is why it has different behavior from the other frameworks.

I see your point with

[code]

but as you point out later, the argument name can be defined with whatev

[2020-04-21 23:19] laurenyu commented on #345
sorry for the delayed response here - I've opened a PR (#349) to address this.

[2020-04-22 17:09] laurenyu commented on #345
@larsll PR has been merged. do you still see the error when updating your submodule?

[2020-04-22 19:25] larsll commented on #345
@laurenyu -- it looks good! No error messages now.

[2020-04-22 19:31] laurenyu commented on #345
great, glad to hear it!

[2020-04-22 19:31] #345 closed

[2020-04-22 22:16] laurenyu commented on #346
sorry for the delayed response here - because TensorFlow (the framework itself) has its own checkpointing functionality, it currently does not use SageMaker's checkpoint directory by default. if you're using distributed training with parameter servers, then checkpoints are saved in S3; if you're using Horovod, then checkpoints are saved in `/opt/ml/model`.

If you're not relying on one of those tw

[2020-04-22 22:37] laurenyu commented on #347
@theansaricode sorry for the delayed response here

you need to use the `sagemaker.tensorflow.serving.Model` class: https://sagemaker.readthedocs.io/en/stable/sagemaker.tensorflow.html#tensorflow-serving-model

the `TensorFlowModel` class is for the legacy TF images, which you are not using, judging by your estimator code

[2020-04-23 09:06] athewsey commented on #340
Thanks for explaining the background and considering it on the backlog! 😄

My $0.02 is still that the risk of beginners misunderstanding the basics (thinking they need to upload their model) outweighs the value of consistency with `RunConfig` - but as you say the change would be breaking so not to be taken lightly!

Also just FYI for anybody who arrives here and chooses to use [`argparse.parse_kno

[2020-04-24 19:06] laurenyu commented on #344
sorry for the delayed reply here.

I believe you can use something like [`tf.train.Checkpoint`](https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint), and just make sure you give it the checkpoint path from your previous training job.

The checkpoint path is named `model_dir` - if you look at your previous training job's hyperparameters, you should see it there. You can define the job's

[2020-06-10 03:04] ChaiBapchya commented on #248
@surajkota can you take a look at the readme? Updated it.
@ajaykarpur @Seninus

[2020-06-10 06:05] ChaiBapchya opened #378 "Incorrect usage: pytest tests/functional"
https://github.com/aws/sagemaker-tensorflow-container/tree/script-mode#functional-tests

mentions Functional tests as a way of running tests on Sagemaker

[code]
However, there is no folder by the name "functional"

[2020-06-10 07:28] ChuyangDeng commented on #378
Hi @ChaiBapchya "functional" tests are removed from current branch as well as tf-2.

You can find the functional tests in old containers in branch "r1.0": https://github.com/aws/sagemaker-tensorflow-container/tree/r1.0/test/functional

With that being said, we will update the README to avoid confusions

[2020-06-10 08:29] ChaiBapchya opened #379 "pytest test/integration error"
Test integration
[code]
Error stacktrace:
[code]

[2020-06-11 19:17] ChaiBapchya opened #386 "Parameter Server entrypoint"
Why doesn't entry-point get called for parameter server? Why is it only for non PS distributed training?

https://github.com/aws/sagemaker-tensorflow-training-toolkit/blob/60d8c10bb5214e24ca3a5084bca8159b95810468/src/sagemaker_tensorflow_container/training.py#L157

[2020-06-11 19:28] ChuyangDeng commented on #386
Hi @ChaiBapchya,

for this case, entry_point.run is called here: https://github.com/aws/sagemaker-tensorflow-training-toolkit/blob/60d8c10bb5214e24ca3a5084bca8159b95810468/src/sagemaker_tensorflow_container/training.py#L143
then:
https://github.com/aws/sagemaker-tensorflow-training-toolkit/blob/60d8c10bb5214e24ca3a5084bca8159b95810468/src/sagemaker_tensorflow_container/training.py#L112

and in thi

[2020-06-11 19:34] #386 closed

[2020-06-12 08:53] ChaiBapchya opened #388 "local-gpu for TF horovod local sagemaker integration test?"
https://github.com/aws/sagemaker-python-sdk/blob/69d06ad9bba0f108df0f2a589831f254db0997a8/tests/integ/test_horovod.py#L58

Why does this test for `local` instead of `local-gpu`?
Wouldn't this test for CPU only? For testing with nvidia-docker for cuda version of the framework, shouldn't local-gpu be used?

@ChuyangDeng

[2020-06-16 21:45] laurenyu commented on #379
what image did you use for your test run?

[2020-06-16 22:33] laurenyu commented on #388
Transferring the issue to a more appropriate repository - the Python SDK tests are not intended to test the images - just the Python SDK.

The corresponding test in this repo does skip GPU entirely: https://github.com/aws/sagemaker-tensorflow-training-toolkit/blob/master/test/integration/local/test_horovod.py#L25. However, we could potentially modify it to run for the 1 instance + 2 processes case

[2020-06-17 04:09] ChaiBapchya commented on #379
Likely an image I build locally & pushed to ECR using the steps mentioned in the readme.

[2020-06-17 17:07] laurenyu commented on #379
running

[code]

produced

[code]

which seems to match the partial stacktrace you provided. The actual error message looks to be:

[code]

which seems to have been a known bug in older versions of TF: https://github.com/tensorflow/tensorflow/issues/26007, https://github.com/tensorflow/tensorflow/issues/26012.

Running with TF 1.15.2 also failed, but running with TF 2.2 passed.

This makes me beli

[2020-06-17 20:00] laurenyu commented on #388
added in #389 and #390.

[2020-06-17 20:00] #388 closed

[2020-06-17 20:01] laurenyu commented on #378
looks like this was taken care of in #380 and #381

[2020-06-17 20:01] #378 closed

[2020-06-17 20:01] #347 closed

[2020-06-17 20:02] #346 closed

[2020-06-17 20:03] laurenyu commented on #46
looks like this was addressed in #135.

[2020-06-17 20:03] #46 closed

[2020-06-17 20:14] laurenyu commented on #66
the Dockerfiles that control what version of boto3/botocore are installed are now in https://github.com/aws/deep-learning-containers

[2020-06-17 20:14] #66 closed

[2020-06-17 20:17] laurenyu commented on #174
closing, as this was for the legacy TensorFlow images. the current TensorFlow Serving image code is at https://github.com/aws/sagemaker-tensorflow-serving-container

[2020-06-17 20:17] #174 closed

[2020-06-17 20:19] laurenyu commented on #188
closing, as we no longer release new versions of the legacy TensorFlow images. For the current TensorFlow Serving images, see https://github.com/aws/sagemaker-tensorflow-serving-container

[2020-06-17 20:19] #188 closed

[2020-06-17 20:19] #248 closed

[2020-06-17 20:20] #202 closed

[2020-06-17 20:20] laurenyu commented on #260
The Dockerfiles have now been moved to https://github.com/aws/deep-learning-containers

[2020-06-17 20:20] #260 closed

[2020-06-17 20:23] laurenyu commented on #271
closing due to lack of activity.

[2020-06-17 20:23] #271 closed

[2020-06-17 20:23] laurenyu commented on #344
closing due to lack of activity.

[2020-06-17 20:23] #344 closed

[2020-06-18 06:28] ChaiBapchya commented on #379
Awesome. Thanks for redirecting to the concerned folks.

[2020-06-23 07:55] anirudhacharya commented on #62
The TF script mode allows for asynchronous distributed training using Parameter server. But the latest TF2 comes with many distribution strategies like multi-worker mirrored strategy which uses synchronous communication. For multi-worker mirrored strategy we need to set TF_CONFIG( https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras), and each node will have a different role in

[2020-06-23 16:47] laurenyu commented on #62
@anirudhacharya can you open a new issue? that'll help with our internal tracking.

The TF images should allow for this, but you'll have to set up things on your own (i.e. configure your own `TF_CONFIG`, etc.)

[2020-06-23 17:57] anirudhacharya commented on #62
I will open an issue.

@laurenyu  If I have set up things myself, then how can I use `esitmator.fit()` API to launch the training job? Can't the TF_CONFIG be configured with the distributions parameter (like [here](https://sagemaker.readthedocs.io/en/stable/frameworks/tensorflow/using_tf.html#training-with-parameter-servers))

[2020-06-23 21:09] anirudhacharya opened #391 "Support different tf.distribute.Strategies for distributed training on SageMaker"
For strategies like Multi Worker Mirrored-Strategy TF2 requires us to configure each node individually (https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#multi-worker_configuration). Currently SageMaker does not provide us a way of doing this while trying to launch a distributed training job with Multi Worker Mirrored-Strategy using `estimator.fit()` method

[2020-06-23 21:10] anirudhacharya commented on #62
issue to track - https://github.com/aws/sagemaker-tensorflow-training-toolkit/issues/391

[2020-06-23 21:17] laurenyu commented on #391
if you don't specify anything for `distributions` when creating your estimator, then no `TF_CONFIG` is set. You can then write your own config in your training script. `estimatr.fit()` shouldn't interfere, since all it does is launch the training job, which then runs your script.

[2020-06-23 22:44] anirudhacharya commented on #391
@laurenyu the config is different for different nodes in the cluster. Are you suggesting we do something like this -
[code]

[2020-06-23 23:02] laurenyu commented on #391
@anirudhacharya yep, that's exactly what I was thinking. You can also use the environment variable `SM_CURRENT_HOST` to get the host name ([docs](https://github.com/aws/sagemaker-training-toolkit/blob/master/ENVIRONMENT_VARIABLES.md)).

[2020-06-24 01:30] MelissaKR opened #392 "How to get evaluation metrics in output logs"
Hi,

This is my first time working with Sagemaker. I successfully trained a model, however, I'm having difficulty getting it to output evaluation metrics to the log files.

Here is a snippet of my model:

[code]

[code]

And this is how the model is fit:

[code]
When the training finishes, I don't see any of these metrics in the logs, nor in the 'training jobs' section. This is how the Metrics sec

[2020-06-24 01:44] anirudhacharya commented on #391
@laurenyu I can try this, but I am not sure it will work, because `TF_CONFIG` looks something like this -
[code]

while with the conventional cluster setup, I can ssh into each node and get information like ip address and port number; I am not sure how I would be able to do that from within the training script.

[2020-06-30 23:02] metrizable commented on #392
@MelissaKR thanks for filing the issue. I noticed that your metric definition regex seeks to match `eval-accuracy` which differs slightly from the `dict` key `eval_accuracy` your `metric_fn` returns for your `EstimatorSpec`. Your statement about not seeing any metrics in the logs makes me wonder where this will make any difference.

[2020-07-02 14:29] MelissaKR commented on #392
@metrizable Thank you for your input. I will correct the difference in the accuracy metric. I was generally wondering where I can track model outputs for these metrics. I thought they'll be written out to the logs, or they'll show up in the "Metrics" section for the training job.

[2020-07-10 19:09] nadiaya commented on #391
Did you give it a try?
Hostname + port should work.

[2020-07-23 15:51] laurenyu commented on #392
sorry for the delayed response here. The metrics should be viewable in CloudWatch - scroll down to the "Monitor" section in the AWS console when looking at a training job.

docs: https://docs.aws.amazon.com/sagemaker/latest/dg/training-metrics.html

[2020-09-30 10:22] vishwath96 opened #401 "Model deployment is failing with the error "The primary container for production variant AllTraffic did not pass the ping health check."
Trying to deploy a customer Word2Vec model that I've trained offline as a SageMaker endpoint. Followed the documentation - https://github.com/awslabs/amazon-sagemaker-examples/tree/master/advanced_functionality/scikit_bring_your_own to create docker file and everything.

I've added the following in docker file - # ENTRYPOINT ["python3", "/usr/local/bin/predictor.py"]

Looking at the logs, I am abl

[2020-10-07 21:22] ajaykarpur commented on #401
Hi @vishwath96, are you able to share your logs and the full stack trace?

[2020-10-16 00:23] dslove commented on #340
I am trying to use this arg to save trained TF models to the places I like but I'd say this arg doesn't behave as what I expect. Actually and honestly, I haven't yet figure out how it works and all the documents talking about it sounds confusing to me. Echo to OP.

[2021-01-14 11:18] Miles1996 commented on #392
Hi @MelissaKR did you manage to resolve this? I am having the same issue

[2021-04-14 16:10] tbass134 commented on #263
I get this issue when running locally. The only way to fix is to restart the notebook instance, which is really annoying

[2021-07-08 19:31] maddy392 commented on #391
@nadiaya

while using parameter server distribution type in estimator.fit() call, i came across sagemaker's TF_CONFIG in the logs such as following (just an example for Parameter Server distribution strategy)

[code]

Question:

1. In our training scripts, how do we access port numbers of workers in each algo (host/instance)? I know we can use `os.environ['SM_HOSTS']` to find the hosts, but what a

[2021-12-02 11:43] nonoesp commented on #340
Definitely found this to be a source of headaches and bugs and errors as well.

[2022-04-09 21:13] vdabravolski commented on #391
Sharing an implementation of working TF Config for MultiNodeMirroredStrategy below. This has been tested on SageMaker Deep Learning container with TensorFlow v2.8 (link to [dockerfile](https://github.com/aws/deep-learning-containers/blob/master/tensorflow/training/docker/2.8/py3/cu112/Dockerfile.gpu)).

[code]

[2022-05-17 06:29] Lokiiiiii commented on #391
Is there any update on this ? Is anybody working on a PR ?

I see a TF_CONFIG setup is already implemented in https://github.com/aws/sagemaker-tensorflow-training-toolkit/blob/master/src/sagemaker_tensorflow_container/training.py#L37. It would only need some minor modifications of MWMS. The only task remaining is to add a new [distribution option](https://github.com/aws/sagemaker-training-toolkit/

[2022-06-15 21:51] jocelynbaduria commented on #401
Hi I am having the same error. I am deploying my own dlib model. The cloud watch logs is this
What does it means?

2022/06/15 21:08:37 [error] 19#19: *1 js: failed ping{
    "error": "Servable not found for request: Latest(persona-id)"
}

Kindly help. Thank you.

[2022-06-23 11:41] TZeng20 commented on #391
Hey @Lokiiiiii so is the aim of your feature to add a distribution argument for multi worker mirrored strategy in Sagemaker? i.e.
`estimator = sagemaker.tensorflow.TensorFlow(entry_point='script.py', ..........distribution = {})`
What would the distribution argument be? I know the distribution arg is needed for something like sagemaker distributed data parallel. Right now I use the function provid

[2022-06-23 13:17] Lokiiiiii commented on #391
Yes, I have suggested `distribution = {'multi_worker_mirrored_strategy': {'enabled': True }}` in [this PR](https://github.com/aws/sagemaker-python-sdk/pull/3192).

[2022-06-24 06:13] TZeng20 commented on #391
Does anything else apart from the `TF_CONFIG` need to be configured to make multiworkermirrored work?
Let's say I use 2 instances of ml.g4dn.8xlarge which has only 1 gpu per machine.
`estimator = sagemaker.tensorflow.TensorFlow(entry_point='script.py', num_instances = 2,.........)`

If I use the same config from @vdabravolski it identifies 2 workers properly, `len(tf_config['cluster']['worker']) =

[2022-07-04 16:23] Lokiiiiii commented on #391
This seems like a discussions for https://github.com/tensorflow/tensorflow/issues?q=is%3Aissue+multiworkermirroredstrategy+

[2022-07-14 12:02] lhideki commented on #392
I had a similar situation, but the cause was IAM Policy permissions; checking CloudWatch/Logs permissions may help.

[2022-07-28 23:23] priyakhokher commented on #401
@ajaykarpur I followed your [notebook](https://github.com/aws/amazon-sagemaker-examples/blob/main/advanced_functionality/scikit_bring_your_own/scikit_bring_your_own.ipynb) which was helpful but fails at deployment too. Here's my stacktrace - all help will be appreciated, been blocked on it for a while now.  And for this error - don't understand how the model is read-only when it dumps the .pkl fil

[2022-08-02 10:38] ankitvirla commented on #401
Hi, For resolving it. in docker container inside the  "/opt/ml/output/" directory there should be a file with the name of failure.
And this is occurring because the training is going to be failed for some reason.

[2022-08-03 16:46] priyakhokher commented on #401
@birla8319 the error is this statement: `OSError: [Errno 30] Read-only file system: '/opt/ml/model/decision-trees.pkl'`
 and I see this puzzle under my cloudwatch logs. The model pickle files are dumped in s3  and I don't see `/opt/ml/output/failure` results dumped in S3 either.

[2022-09-22 06:30] surajitkundu-dazn commented on #391
Where would you add this function ? there is also similar function present  here https://docs.aws.amazon.com/sagemaker/latest/dg/training-compiler-tensorflow-models.html, but when I use this function in starting of my training script then I see runtime error (RuntimeError: Collective ops must be configured at program startup),If I do it post strategy then it doesn’t work as multi node :(

[2022-09-23 05:11] Lokiiiiii commented on #391
The cluster setup required for `MultiWorkerMirroredStrategy` is now available as part of the SageMaker Training ToolKit from TF >=2.9. Since we are still working on the SageMaker SDK UI for the same, in the meantime you can leverage the cluster setup by setting an environment variable `sagemaker_multi_worker_mirrored_strategy_enabled` to `'true'`.

As indicated by the error message, the cluster se